*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* hero background start here */
.hero-bg{
    width: 1920px;
    height: 919px;
    /* border: 2px red solid; */
    margin: 0 auto;
    background-image: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/* four-content design */
.img-h2-p-b{
    text-align: center;
}
/* first image */
.first-img{
    margin-top: 35px;
    left: 257px;
    right: 257px;
}
/* h2 design */
.in-the-near{
    color: rgb(13, 19, 33);
    font-family: azeret Mono;
    font-size: 70px;
    margin-bottom: 24px;
    margin-top: 35px;
}
/* paragraph */
.paragraph{
    color: rgb(13, 19, 33);
    font-family: azeret Mono;
    font-size: 25px;
   
    
}
/* btn-contact */
.btn-contact{
    color: white;
    font-size: 20px;
    padding: 20px 35px;
    margin-top: 70px;
    border-radius: 5px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/* four content design start here */

.four-container{
    width: 1140px;
    height:1395px ;
    margin: 0 auto;
    border: 2px red solid;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
/* secound-h2-p */
.secound-h2-p{
    text-align: center;
    border-radius: 16px;
}
.why-web{
    font-family: Azeret Mono;
    font-size: 40px;
    margin-top: 80px;
}
.secound-p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    margin-top: 20px;
}
/* third number fig design  */
.scnd-h1-p-btn{
    width: 946px;
    height: 336px;
    border: 2px red solid;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
}
.snd-h-p{
    width: 477px;
    height: 220px;
    border: 2px red solid;
    margin: 48px;
}
.will-do{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 25px;
    margin-top: 7px;
}
.great-programmer{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    margin-top: 20px;
}
.btn-learn-more{
    padding: 12px 20px;
    margin-top: 30px;
    color: rgba(11, 14, 14, 0.87);
    font-family: Azeret Mono;
    font-size: 20px;  
}
.laye-one-png{
    margin: 48px;
    margin-left: 99.77px;
    width: 259px;
    height: 217px;
}
 /* four number fig design  */
 .laye-two-png{
    margin-top: 48px;
    width: 240px;
    height: 240px;
    margin-left: 0;
}
.will-help{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 25px;
    margin-top: 7px;
}
.thrd-h-p{
    width: 477px;
    height: 220px;
    border: 2px red solid;
    margin: 48px;
    margin-right: 120px;
}
.btn-learn{
    padding: 12px 20px;
    margin-top: 40px;
    color: rgba(11, 14, 14, 0.87);
    font-family: Azeret Mono;
    font-size: 20px; 
}

/* <!-- my inspretion box design stsrt here--> */ 
.video-content{
    width: 1140px;
    height: 777px;
    border: 2px red solid;
    margin: 0 auto;
    margin-top: 88px;
}
.v-content-title{
    text-align: center;
    
}
.my-inspi{
    font-family: serif;
    font-size: 30px;
}
.good-prg{
    font-size: medium;
    margin-top: 24px;
}
.video-container{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;


}
.yt-video{
    width: 1076px;
    height: 614px;
    border-radius: 16px;
    margin:32px;
}
/* my terget css design start here  */
.my-current-next{
    width: 1140px;
    height: 1437px;
    border: 2px red solid;
    margin: 0 auto;
    margin-top: 150px;
}


/* current-terget-container start here  */

.current-terget-container{
    width:946px;
    height: 100px;
    border: 2px red solid;
    margin: 0 auto;
    text-align: center;
}
.curnt-terget{
    font-size: 30px;
}
.learn-java{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    margin-top: 24px;
}